{include file="IWnotify_user_menu.htm"}
<h2>{$notify.notifyTitle}</h2>
{if $outOfDate}
<div>
    {$notify.notifyCloseMsg|nl2br}
</div>
{else}
<form class="z-form" id="validateForm" method="post" enctype="multipart/form-data" action="{modurl modname='IWnotify' type='user' func='getInform'}">
    <input type="hidden" name="csrftoken" value="{insert name='csrftoken'}" />
    <input type="hidden" name="notifyId" value="{$notify.notifyId}" />
    {if $errorMsgCode neq 0}
    <div class="z-errormsg">
        {if $errorMsgCode eq 1}
        {gt text="Error! Please enter the required validation value."}
        {/if}
        {if $errorMsgCode eq 2}
        {gt text="Error! The security equation value is not correct."}
        {/if}
        {if $errorMsgCode eq 3}
        {$notify.notifyFailsMsg|nl2br}
        {/if}
    </div>
    {/if}
    <div class="notifyFormText">
        {$notify.notifyFormText|nl2br}
    </div>
    <div class="z-formrow">
        <label for="notify_validateData">{gt text="Enter validation data"}</label>
        <input type="text" id="notify_validateData" name="validateData" />
    </div>
    <div class="z-formrow">
        <label for="notify_validateSecAns">{gt text="Solve this equation"}</label>
        <div class="z-formnote">
            {$secVal1} {$secOperator} {$secVal2} =
            <input type="text" id="notify_validateSecAns" name="validateSecAns" />
        </div>
        <div class="z-formnote z-informationmsg">
            {gt text="You have to solve this security question in order to prevent automatical get of data."}
        </div>
    </div>
    <div class="z-center">
        <span class="z-buttons">
            <a title="Import" onClick="javascript:document.forms['validateForm'].submit();">
                {img modname='core' src='button_ok.png' set='icons/small' __alt="Send" __title="Import"} {gt text="Send"}
            </a>
        </span>
    </div>
</form>
{/if}